body {
    background-color: purple;
}
@media (max-width: 1080px) {
        body {
            background-color: gray;
        }
}
@media (max-width: 550px) {
        body {
            background-color: aqua;
        }
}
@media (max-width: 400px) {
        body {
            background-color: lime;
        }
}
